p class="flex flex-col text-sm font-light text-gray-500 dark:text-gray-400 mt-6"
  span Having trouble?
  = link_to "Forgot your password?", new_user_password_path, class: "font-medium text-sky-600 dark:text-sky-400 hover:underline"
  = link_to "Didn't receive confirmation instructions?", new_user_confirmation_path, class: "font-medium text-sky-600 dark:text-sky-400 hover:underline"