div class="lg:max-w-[1204px] flex flex-col lg:flex-row justify-center items-center lg:items-start gap-4 relative z-10" role="region" aria-label="Features showcase" aria-describedby="features-description"
  - features.each do |feature|
    = render Homepage::FeatureCardComponent.new(feature: feature)
