nav class="flex justify-between items-center py-10 px-5 lg:px-20 mb-16"
	= link_to "discuss²", root_path, class: "font-bold text-3xl font-serif text-white", style: "font-family: Georgia;", "aria-label": "discuss² home page"
	div class="flex justify-end items-center gap-2.5"
		= link_to "See demo", forum_topics_path, target:"_blank", class: "btn-white"
